<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="userCode" name="User Code" schema="schema/userCode.exsd"/>
   <extension
         id="id2"
         name="Code Generator"
         point="pt.iscte.pidesco.view">
      <view
            class="pt.iscde.codegenerator.internal.CodeGeneratorView"
            icon="icon.png">
      </view>
   </extension>

</plugin>
