<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="pt.iscde.codegenerator.userCode">
      <userCode
            class="pt.iscde.codegenerator.ext.CodeGen"
            buttonText="Equals Method">
      </userCode>
        
   </extension>
   

</plugin>
